#loading{
	width: 100%;
	height: 100dvh; /* dynamic height fixes nav offset issues in landscape */
	background-color: #000;
}
.loading-star{
	--parallax-x: 0px;
	--parallax-y: 0px;
	
	position: absolute;
	
	background-color: #fff;
	border-radius: 50%;
	box-shadow:
			0 0 1px 1px rgba(255, 255, 255, 0.4),
			0 0 4px 2px rgba(255, 255, 255, 0.2);
	
	transition: transform 0.1s linear;
	
	opacity: 0;
	z-index: 1;
	
	animation: moveStar linear infinite;
}

#loading-flag{
	position: absolute;
	top: 50%;
	left: 50%;
	
	width: 300px;
	height: 300px;
	
	transform: translate(-50%,-70%);
	
	z-index: 2;
}